In [17]:
# !pip install category_encoders

In [18]:
import category_encoders as ce

In [19]:
import pandas as pd
# инициализируем информацию об одежде
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])
clothing

  size   type
0  xxs  dress
1  xxs  skirt
2   xs  dress
3    s  skirt
4    m  dress
5    l  shirt
6    s   coat
7    m   coat
8  xxl  shirt
9    l  dress

In [20]:
of = ce.OrdinalEncoder()
data_bin = of.fit_transform(clothing['size'])
clothing1 = pd.concat([clothing, data_bin], axis=1)
clothing1

   size   type  size
0   xxs  dress     1
1   xxs  skirt     1
2    xs  dress     2
3     s  skirt     3
4     m  dress     4
5     l  shirt     5
6     s   coat     3
7     m   coat     4
8   xxl  shirt     6
9     l  dress     5

In [21]:
ohe = ce.OneHotEncoder(cols=['type'], use_cat_names=True)
type_bin = ohe.fit_transform(clothing['type'])
clothing2 = pd.concat([clothing1, type_bin], axis=1)

clothing2

   size   type  size  type_dress  type_skirt  type_shirt  type_coat
0   xxs  dress     1           1           0           0          0
1   xxs  skirt     1           0           1           0          0
2    xs  dress     2           1           0           0          0
3     s  skirt     3           0           1           0          0
4     m  dress     4           1           0           0          0
5     l  shirt     5           0           0           1          0
6     s   coat     3           0           0           0          1
7     m   coat     4           0           0           0          1
8   xxl  shirt     6           0           0           1          0
9     l  dress     5           1           0           0          0

In [23]:
clothing3 = pd.get_dummies(clothing, columns=['type'] )
clothing3

  size  type_coat  type_dress  type_shirt  type_skirt
0  xxs          0           1           0           0
1  xxs          0           0           0           1
2   xs          0           1           0           0
3    s          0           0           0           1
4    m          0           1           0           0
5    l          0           0           1           0
6    s          1           0           0           0
7    m          1           0           0           0
8  xxl          0           0           1           0
9    l          0           1           0           0

In [39]:
df_wine = pd.read_csv('data/wine_cleared.zip')
print(df_wine.shape[1])
df_wine2 = pd.get_dummies(df_wine, columns=['taster_name'])
print(df_wine2.shape[1])
print(df_wine2.shape[1] - df_wine.shape[1])
df_wine.groupby(by='taster_name').count()

ose = ce.OneHotEncoder(cols=['taster_name'])
type_taser = ose.fit_transform(df_wine['taster_name'])
type_taser.shape[1]
df_wine3 = pd.concat([df_wine, type_taser], axis=1)
df_wine3.shape[1]
df_wine3.shape[1] - df_wine.shape[1]
# df_wine3.info()
df_wine2.info()

13
32
19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      129971 non-null  int64
 1   country                         129908 non-null  object
 2   description                     129971 non-null  object
 3   designation                     129971 non-null  object
 4   points                          129971 non-null  int64
 5   price                           129971 non-null  float64
 6   province                        129908 non-null  object
 7   region_1                        129971 non-null  object
 8   taster_twitter_handle           129971 non-null  object
 9   title                           129971 non-null  object
 10  variety                         129970 non-null  object
 11  winery                          129971 non-null  object
 12  taster_name_Alexander Peartree  129971 non-null  uint8
 13  taster_name_Anna Lee C. Iijima  129971 non-null  uint8
 14  taster_name_Anne Krebiehl MW    129971 non-null  uint8
 15  taster_name_Carrie Dykes        129971 non-null  uint8
 16  taster_name_Christina Pickard   129971 non-null  uint8
 17  taster_name_Fiona Adams         129971 non-null  uint8
 18  taster_name_Jeff Jenssen        129971 non-null  uint8
 19  taster_name_Jim Gordon          129971 non-null  uint8
 20  taster_name_Joe Czerwinski      129971 non-null  uint8
 21  taster_name_Kerin O’Keefe       129971 non-null  uint8
 22  taster_name_Lauren Buzzeo       129971 non-null  uint8
 23  taster_name_Matt Kettmann       129971 non-null  uint8
 24  taster_name_Michael Schachner   129971 non-null  uint8
 25  taster_name_Mike DeSimone       129971 non-null  uint8
 26  taster_name_Paul Gregutt        129971 non-null  uint8
 27  taster_name_Roger Voss          129971 non-null  uint8
 28  taster_name_Sean P. Sullivan    129971 non-null  uint8
 29  taster_name_Susan Kostrzewa     129971 non-null  uint8
 30  taster_name_Virginie Boone      129971 non-null  uint8
 31  taster_name_unknown             129971 non-null  uint8
dtypes: float64(1), int64(2), object(9), uint8(20)
memory usage: 14.4+ MB

In [37]:
data = pd.read_csv('data/wine_cleared.zip')
w1 = data.shape[1]
encoder = ce.OneHotEncoder(cols=['taster_name'])
type_bin = encoder.fit_transform(data['taster_name'])
data = pd.concat([data, type_bin], axis=1)

w2 = data.shape[1]
print(w2 - w1)
# data.info()

20